/**
 * 
 *
 * 
 * useMutation{{ properCase name }}Service
 *
 *
 */
import { useMutation, MutationConfig, MutationFunction } from "react-query";
import axios, { AxiosError, AxiosRequestConfig } from "axios";
import { ResponseData } from "./types";

export const {{ camelCase name }}Url = `{{#if useBaseURL}}${process.env.REACT_APP_TENSPOT_API_V1}{{else}}{{ baseURL }}{{/if}}{{ url }}`;

const api = axios.create({ {{#if useBaseURL}}withCredentials: true{{/if}} });

interface RequestData {}

const queryFn = (
  axiosConfig: AxiosRequestConfig = {}
): MutationFunction<ResponseData, RequestData> => (requestData: RequestData) =>
  api
    .{{ method }}<ResponseData>({{ camelCase name }}Url, requestData, axiosConfig)
    .then(({ data }) => data);

export const useMutation{{ properCase name }}Service = ({
    mutationConfig = {},
    axiosConfig = {}
  }:
  {
    mutationConfig?: MutationConfig<
      ResponseData,
      AxiosError,
      RequestData,
      () => void
    >;
    axiosConfig?: AxiosRequestConfig;
  } = {}
) => {
  return useMutation(queryFn(axiosConfig), mutationConfig);
};

