/**
 *
 *
 * <{{ properCase name }} />
 *
 *
 */

/** @jsx jsx */
import { jsx, Box, Heading } from "theme-ui";
import { FunctionComponent } from "react";

interface {{ properCase name }}Props {
  myProp: string;
}

const {{ properCase name }}: FunctionComponent<{{ properCase name }}Props> = ({ myProp }) => {
  return (
    <Box>
      <Heading as="h2">{{ properCase name }} received "{myProp}"!</Heading>
    </Box>
  );
};

export default {{ properCase name }};
