/**
 *
 *
 * Tests for <{{ properCase name }} />
 *
 *
 */

import React from "react";
import { render } from "@testing-library/react";
import {{ properCase name }} from "./{{ properCase name }}";

describe("<{{ properCase name }} />", () => {
  it("should not log errors in console", () => {
    const spy = jest.spyOn(global.console, "error");
    render(<{{ properCase name }} myProp="some string" />);
    expect(spy).not.toHaveBeenCalled();
  });

  it("should render myProp", () => {
    const value = "some string";
    const { getByRole } = render(<{{ properCase name }} myProp={value} />);
    const expected = new RegExp(value, "i");
    expect(getByRole("heading")).toHaveTextContent(expected);
  });
});
