  rest.get({{ camelCase name }}Url, (req, res, ctx) => {
    return res(ctx.status(200), ctx.json(mockResponseData));
  }),
// [APPEND NEW SERVICE MOCK HANDLER ABOVE] < Needed for generating services seamlessly
