/**
 *
 *
 * Tests for useQuery{{ properCase name }}Service
 *
 *
 */

import React from "react";
import { render, waitFor } from "@testing-library/react";
import { useQuery{{ properCase name }}Service } from "./useQuery{{ properCase name }}Service";
import { mockResponseData } from "./mockResponseData";

it("should not log errors in console", () => {
  const spy = jest.spyOn(global.console, "error");
  const El = () => {
    useQuery{{ properCase name }}Service();
    return <div></div>;
  };
  render(<El />);
  expect(spy).not.toHaveBeenCalled();
});

it("should render mock response data", async () => {
  const El = () => {
    const { data } = useQuery{{ properCase name }}Service();
    return (
      <div>{data && <div data-testid="data">{JSON.stringify(data)}</div>}</div>
    );
  };
  const { getByTestId } = render(<El />);
  await waitFor(() => {
    expect(getByTestId("data")).toHaveTextContent(
      JSON.stringify(mockResponseData
    ));
  });
});
