/**
 * 
 *
 * 
 * useQuery{{ properCase name }}Service
 *
 *
 */
import { useQuery, QueryConfig, QueryFunction, queryCache } from "react-query";
import axios, { AxiosError, AxiosRequestConfig } from "axios";
import { ResponseData } from "./types"

{{#if params}}export interface {{ properCase name }}UrlParams {}{{/if}}

export interface {{ properCase name }}ServiceParams {
  queryConfig?: QueryConfig<ResponseData, AxiosError>;
  axiosConfig?: AxiosRequestConfig;
  {{#if params}}urlParams?: {{ properCase name }}UrlParams;{{/if}}
}

export const {{ camelCase name }}Url = `{{#if useBaseURL}}${process.env.REACT_APP_TENSPOT_API_V1}{{else}}{{ baseURL }}{{/if}}{{ url }}/`;

const api = axios.create({ {{#if useBaseURL}}withCredentials: true{{/if}} });

const queryFn = (axiosConfig: AxiosRequestConfig): QueryFunction<ResponseData> => 
  {{#if params}}// This _ is the queryKey string{{/if}}
  ({{#if params}}_: string, urlParams: {{ properCase name }}UrlParams{{/if}}) =>
  api.get<ResponseData>({{ camelCase name }}Url, {{#if params}}{ ...axiosConfig, params: urlParams }{{else}}axiosConfig{{/if}}).then(({ data }) => data);

export const useQuery{{ properCase name }}Service = ({
  queryConfig = {},
  axiosConfig = {},
  {{#if params}}urlParams = {},{{/if}}
}: {{ properCase name }}ServiceParams = {}) => {
  return useQuery<ResponseData, AxiosError>({
    queryKey: {{#if params}}["{{ queryKey }}", urlParams]{{else}}"{{ queryKey }}"{{/if}},
    config: queryConfig,
    queryFn: queryFn(axiosConfig),
  });
};

export const useQuery{{ properCase name }}Data = (
  {{#if params}}urlParams?: {{ properCase name }}UrlParams{{/if}}
): ResponseData | undefined =>
  queryCache.getQueryData<ResponseData>({{#if params}}["{{ queryKey }}", urlParams]{{else}}"{{ queryKey }}"{{/if}});
