/**
 *
 *
 * use{{ properCase name }}
 *
 *
 */

export interface {{ properCase name }}Params {}

const use{{ properCase name }} = (params: {{ properCase name }}Params) => {
  return { data: params }
}

export default use{{ properCase name }};
