/**
*
*
* Tests for use{{ properCase name }} 
*
*
*/

import React from "react";
import { render, waitFor } from "@testing-library/react";
import use{{ properCase name }} from "./use{{ properCase name }}";

describe("use{{ properCase name }}", () => {
  it("use{{ properCase name }} should not log errors in console", () => {
    const spy = jest.spyOn(global.console, "error");
    const El = () => {
      use{{ properCase name }}({});
      return <div></div>;
    };
    render(<El />);
    expect(spy).not.toHaveBeenCalled();
  });

  it("use{{ properCase name }} should render data", async () => {
    const params = { count: 1 };
    const El = () => {
      const { data } = use{{ properCase name }}(params);
      return (
        <div>{data && <div data-testid="data">{JSON.stringify(data)}</div>}</div>
      );
    };
    const { getByTestId } = render(<El />);
    await waitFor(() => {
      expect(getByTestId("data")).toHaveTextContent(JSON.stringify(params));
    });
  });
})
