/**
 *
 *
 * handlers for {{ properCase name }} service mocks
 *
 *
 */

import { mockResponseData } from "./mockResponseData";

import { rest } from "msw";
// [IMPORT MOCK URL AND RESPONSE ABOVE] < Needed for generating services seamlessly

export const handlers = [
  // [APPEND NEW SERVICE MOCK HANDLER ABOVE] < Needed for generating services seamlessly
];

export default handlers;
