/*
 *
 *
 * {{ properCase name }}
 *
 *
 */

/** @jsx jsx */
import { jsx, Box, Flex, Heading, Text, Button } from "theme-ui";
import { FunctionComponent, useReducer } from "react";

/**
 * ############################################################################
 *
 * State
 *
 * ############################################################################
 */
export interface State {
  readonly count: number;
}
export const initialState: State = {
  count: 0,
};

/**
 * ############################################################################
 *
 * Actions
 *
 * ############################################################################
 */
export enum ActionTypes {
  INCREMENT,
  DECREMENT,
}

interface IncrementAction {
  type: ActionTypes.INCREMENT;
}
export const incrementAction = (): IncrementAction => ({
  type: ActionTypes.INCREMENT,
});

interface DecrementAction {
  type: ActionTypes.DECREMENT;
}
export const decrementAction = (): DecrementAction => ({
  type: ActionTypes.DECREMENT,
});

// Add exhaustiveness checking to the reducer
type Action = IncrementAction | DecrementAction;

/**
 * ############################################################################
 *
 * Reducer
 *
 * ############################################################################
 */
export const reducer = (state: State, action: Action): State => {
  switch (action.type) {
    case ActionTypes.INCREMENT:
      return { ...state, count: state.count + 1 };
    case ActionTypes.DECREMENT:
      return { ...state, count: state.count - 1 };
    // No default
  }
};

/**
 * ############################################################################
 *
 * Components
 *
 * ############################################################################
 */
interface {{ properCase name }}Props {
  title: string;
}

const {{ properCase name }}: FunctionComponent<{{ properCase name }}Props> = ({ title }) => {
  const [state, dispatch] = useReducer(reducer, initialState);

  return (
    <Box>
      <Heading as="h1" role="banner">
        {title}
      </Heading>

      <Flex sx=\{{ alignItems: "center" }}>
        <Button
          onClick={() => dispatch(incrementAction())}
          aria-label="increment"
        >
          +
        </Button>
        <Text variant="h2" aria-label="total">
          {state.count as number}
        </Text>
        <Button
          onClick={() => dispatch(decrementAction())}
          aria-label="decrement"
        >
          -
        </Button>
      </Flex>
    </Box>
  );
};

export default {{ properCase name }};
