/*
 *
 *
 * {{ properCase name }}
 *
 *
 */

/** @jsx jsx */
import { jsx, Box } from "theme-ui";
import { FunctionComponent } from "react";

/**
 * ############################################################################
 *
 * Components
 *
 * ############################################################################
 */
interface {{ properCase name }}Props {}

const {{ properCase name }}: FunctionComponent<{{ properCase name }}Props> = () => {
  return <Box>{{ properCase name }}</Box>;
};

export default {{ properCase name }};
